*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todo-hit-expand {
  position: relative;
}

.todo-hit-expand::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  pointer-events: auto; /* クリックを拾えるようにする */
  background: transparent;
}
